################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/controle_estoque_backend/.vs
/controle_estoque_backend/src/services/GDE.Funcionarios.API/GDE_FuncionariosDB
/controle_estoque_backend/src/services/GDE.Funcionarios.API/GDE_FuncionariosDB-shm
/controle_estoque_backend/src/services/GDE.Funcionarios.API/GDE_FuncionariosDB-wal
/controle_estoque_backend/src/services/GDE.Identidade.API/GDE_IdentidadeDB
/controle_estoque_backend/src/services/GDE.Identidade.API/GDE_IdentidadeDB-shm
/controle_estoque_backend/src/services/GDE.Identidade.API/GDE_IdentidadeDB-wal
/controle_estoque_backend/src/services/GDE.Pedidos.API/GDE_PedidosDB
/controle_estoque_backend/src/services/GDE.Pedidos.API/GDE_PedidosDB-shm
/controle_estoque_backend/src/services/GDE.Pedidos.API/GDE_PedidosDB-wal
/controle_estoque_backend/src/services/GDE.Produtos.API/GDE_ProdutosDB
/controle_estoque_backend/src/services/GDE.Produtos.API/GDE_ProdutosDB-shm
/controle_estoque_backend/src/services/GDE.Produtos.API/GDE_ProdutosDB-wal

/controle_estoque_backend/postgres/credentials.txt
