.email-input,
.password-input {
    width: 263px;
    height: 30px;
    border: none;
}

.login-btn {
    width: 250px;
    height: 50px;
}

.hide,
.offscreen {
    position: absolute;
    transform: translate(-100vw);
}

.instructions > svg {
    margin-right: 0.25rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #fff;
    color: #e38d34;
    padding: 0.25rem;
    position: fixed;
    transform: translateY(56px);
}

.errMsg {
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
}

.login-area {
    position: relative;
    z-index: 1;
    background-color: #2c2c54;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
}

.email-form,
.password-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
}

.login-area label {
    margin-bottom: 10px;
    color: #fff;
}

.login-h1 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin: 60px 30px 50px 30px;
}

.new-member {
    color: black;
    font-size: 2rem;
    text-align: center;
    margin: 220px 10px 100px 10px;
}

.lower-form {
    height: 140px;
}

.select-register {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    height: 100%;
    width: 100%;
}
