.Page {
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}

.main-container {
    display: flex;
    width: 70dvw;
    height: 70dvh;
}

.main-container > section {
    flex-basis: 50%;
    overflow: hidden;
}

.email-input,
.password-input,
.name-input,
.cpf-input {
    width: 15dvw;
    height: 30px;
    border: none;
    font-size: 1rem;
    padding: 0.25rem;
}

.email-form,
.password-form,
.name-form,
.cpf-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
}

.Page button:not(.Toastify__toast button) {
    border: none;
    width: 300px;
    display: flex;
    padding: 23px 32px;
    overflow: hidden;
    box-shadow: 0px 2px 4px 0px rgba(136, 144, 194, 0.20000000298023224);
    align-items: center;
    flex-shrink: 0;
    border-radius: 999px;
    justify-content: center;
    background-color: rgba(49, 44, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
}

.Page button:hover {
    background-color: #252525;
}
