.main-home {
    min-height: calc(100dvh - 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container {
    height: fit-content;
    display: flex;
    width: 70%;
    max-width: 830px;
    align-items: center;
    justify-content: space-around;
    margin-top: 44px;
}

.new-product {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 55px;
    height: 55px;
    border-radius: calc(55px / 2);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: radial-gradient(
        circle at -3.1% -4.3%,
        rgb(57, 255, 186) 0%,
        rgb(21, 38, 82) 90%
    );
}

/* plus sign */
.sign {
    width: 100%;
    font-size: 2.2em;
    color: white;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    transition-duration: 0.3s;
}
/* hover effect on button width */
.new-product:hover {
    width: 155px;
    transition-duration: 0.3s;
}

.new-product:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 5px;
}
/* hover effect button's text */
.new-product:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 5px;
}
/* button click effect*/
.new-product:active {
    transform: translate(2px, 2px);
}

.search,
.new {
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search {
    flex-basis: 70%;
}

.search-container {
    position: relative;
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(135deg, #565b7c 0%, #474787 100%);
    padding: 5px;
    display: flex;
    align-items: center;
}

.input-search {
    padding: 10px;
    width: 100%;
    background-color: #474787;
    /* background: linear-gradient(135deg, #3b3c47 0%, #474787 100%); */
    border: none;
    color: #ffffff;
    font-size: 20px;
    border-radius: 50px;
}

.input-search:focus {
    outline: none;
    background: linear-gradient(135deg, #3a3a3a 0%, #474787 100%);
}

.input-search::placeholder {
    color: #ffffff81;
}

.search__icon {
    width: 50px;
    aspect-ratio: 1;
    border-left: 2px solid white;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    padding-left: 12px;
    margin-right: 10px;
}

.search__icon:hover {
    border-left: 3px solid white;
    cursor: pointer;
}

.search__icon path {
    fill: white;
}

.products-searched {
    width: 100dvw;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-box {
    background-color: #fafafa;
    border: 1px solid rgb(204, 204, 204);
    margin: 10px 50px 0 50px;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 15px -6px rgba(0, 0, 0, 0.61);
    transition-duration: 0.3s;
}

.product-box:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.product-name {
    text-align: center;
}

.product-image {
    height: 100px;
    aspect-ratio: 1;
    object-fit: contain;
}
